@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.siteTitle{
    color: blue;
    font-family:'Josefin Sans', sans-serif;
    text-align: center;
    margin: 2.2em 2.4em;
}

.testButton {
    position: absolute;
    width: 8em;
    height: 8em;
    left: 40em;
    top: 10em;

    background: linear-gradient(0deg, #232D40, #232D40), #C4C4C4;
    border: 7px solid rgba(0, 0, 0, 0.76);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5); 

    padding: 1em 1em;
    text-align: center;
    text-decoration: aliceblue;
    display: inline-block;
    font-size: 16px;
    margin: 9em 2em;
    cursor: pointer;
    
}

.personnage {
    color: red;
    
}

.style{
    color: red;
    
}

.profession{
    color: red;
}


/*Design of the page*/


.displayResultGenerator{
    position: relative;
    width: 40em;
    height: 30em;
    left: 73em;
    top: 10em;

    background: #232D40;
    border: 3px solid #FAED26;
    box-sizing: border-box;
    box-shadow: 5px 4px 7px 9px #000000;
}

/*TEXT*/

.resultGenerator{
    color: aliceblue;
    padding: 3em;
}

.textButtonGenerator{
    color: aliceblue;
}